.anatomy {
  border-radius: 20px;
  background-color: #eaf7ff;
}
.image {
  max-width: 225px;
}
.label {
  position: absolute;
  padding: 8px 12px;
  border-radius: 6px;
  font-size: 10px;
  font-weight: 600;
}
.heart {
  top: 20%;
  left: 35%;
  background: #422ede;
  color: #FFF;
}
.leg {
  bottom: 30%;
  left: 4%;
  background: #24baf1;
  color: #3220f9;
}
