.app {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
  background-color: #FFFFFF;
  font-family: 'Inter', sans-serif;
  padding: 8px;
  /* overflow: hidden; */
}

.main-content {
  flex: 1;
  padding: 24px;
  display: flex;
  flex-direction: column;
}
